repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-json
    files: '\.json(\.jinja)?$'
  - id: check-yaml
    files: '\.ya?ml(\.jinja)?$'
  - id: check-toml
    files: '\.toml(\.jinja)?$'
  - id: check-added-large-files
    args: ["--maxkb=1000"]
  - id: detect-private-key
  - id: no-commit-to-branch
    args: ["--branch", "main"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.7
  hooks:
  - id: ruff
    args: ["--fix"]
  - id: ruff-format
