{
  "name": "{{ project_name }} Dev Container",
  "build": {
    "dockerfile": "Dockerfile",
    "context": "..",
    "args": {
      "PYTHON_VERSION": "{{ python_version }}"
    }
  },
  "remoteUser": "vscode",
  "workspaceMount": "source=${localWorkspaceFolder},target=/workspace,type=bind,consistency=cached",
  "workspaceFolder": "/workspace",
  "mounts": [
    "source=uv-cache,target=/home/vscode/.cache/uv,type=volume"
  ],
  "postCreateCommand": "uv sync",
  "customizations": {
    "vscode": {
      "settings": {
        "python.defaultInterpreterPath": "/home/vscode/.venv/bin/python"
      },
      "extensions": [
        "ms-python.python",
        "ms-python.vscode-pylance"
      ]
    }
  },
  "forwardPorts": []
}
